body{
    margin: 0;
    background-color: rgb(90, 141, 175);
}

header{
    display: flex;
    margin: 0;
    padding-left:150px ;
    padding-right: 150px;
    background-color:#dfb88b;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;        

}

.logo{ 


}